.text-intro-click-more {
  font-size: 20pt;
  margin-top: 20pt;
}

.safe-dangerous-image {
  max-width: 50pt;
}

.element-container {
  box-shadow: 1px 4px 8px 8px rgba(255, 255, 255, 0.332);
  border-radius: 10pt; /* 5px rounded corners */
  padding: 15pt;
  background-color: var(--secondary-dark-color);
  margin: 20pt;
  width: 300pt;
  min-width: 200pt;
}

.element-container:hover {
  box-shadow: 1px 4px 8px 5px var(--main-light-color);
  opacity: 0.8;
}

.info-container {
  padding: 2px 16px;
  color: var(--white);
}

.elements-container {
  margin: 20pt;
  display: flex;
  flex-wrap: wrap;
}
