.text-intro-click-more {
  font-size: 20pt;
  margin-top: 20pt;
}

.safe-dangerous-image {
  max-width: 50pt;
}

.element-container {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 4px 8px 8px rgba(255, 255, 255, 0.332);
  border-radius: 10pt;
  padding: 15pt;
  background-color: var(--secondary-dark-color);
  margin: 10pt;
  width: 30%;
  font-size: 15pt;
}

.element-container:hover {
  box-shadow: 1px 4px 8px 5px var(--main-light-color);
  opacity: 0.8;
}

.info-container {
  padding: 2px 16px;
  color: var(--white);
}

.elements-container {
  margin: 20pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
  .element-container {
    width: 90%;
    font-size: 10pt;
    padding: 5pt;
  }
  .elements-container {
    margin: 10pt;
  }
  .text-intro-click-more {
    font-size: 15pt;
    margin-top: 10pt;
    margin: 8pt;
  }
}
