.meteor-image {
  max-width: 50pt;
}

.safe-dangerous-image {
  max-width: 30pt;
}

.element-container {
  box-shadow: 1px 4px 8px 12px white;
  /* transition: 0.3s; */
  border-radius: 10pt; /* 5px rounded corners */
  padding: 15pt;
  background-color: var(--secondary-dark-color);
  margin: 20pt;
  width: 300pt;
  min-width: 200pt;
}

/* On mouse-over, add a deeper shadow */
.element-container:hover {
  box-shadow: 1px 4px 8px 12px var(--main-light-color);
}

/* Add some padding inside the card container */
.info-container {
  padding: 2px 16px;
}

.elements-container {
  margin: 20pt;
  display: flex;
  flex-wrap: wrap;
}
