#button-up {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: var(--white);
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  border-radius: 51% 49% 52% 48% / 100% 100% 0% 0%;
}

#button-up:hover {
  background-color: var(--main-light-color);
}

#rocket {
  max-width: 30pt;
}

@media screen and (max-width: 992px) {
  #button-up {
    display: none;
    position: fixed;
    right: 4px;
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    border-radius: 51% 49% 52% 48% / 100% 100% 0% 0%;
  }

  #button-up:active {
    background-color: var(--main-light-color);
  }

  #button-up:hover {
    background-color: var(--white);
  }

  #rocket {
    max-width: 20pt;
  }
}
