@import url('https://fonts.cdnfonts.com/css/gravidaz');

.dates-entry-container {
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

.date-label {
  font-size: 20pt;
}

.date-input {
  height: 30pt;
  width: auto;
  font-size: 30pt;
  border-radius: 4pt;
}

/* 
See how to make the cursor pointer for the little calendar
.input-box:hover {
  cursor: pointer;
} */

#submit-dates-button {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  padding: 5pt;
  border-radius: 4pt;
  font-size: 20pt;
  font-family: 'Gravidaz', sans-serif;
  margin-top: 20pt;
  vertical-align: middle;
}

#submit-dates-button:hover {
  background-color: var(--main-light-color);
}

#telescope {
  max-width: 30pt;
  vertical-align: middle;
  margin-right: 4pt;
}
